body{
    margin:0;
 
}
#board{
    position:absolute;
    display:block;
    height: 500px;
    width: 500px;
    margin: 25vw;
    font-size: 0;
    border: 1px solid black;
 



}
.container {
    display:block;
    height: 400px;
    width: 400px;
    
    font-size: 0;
  }
  .row{
    display:block;
    width: 400px;
    height: 60px;
    border: 1px solid black;
  
  }
  .row div{
    position:relative;
    display: inline-block;
    height: 60px;
    width:60px;
  }