body{
    margin:0;
 
}
#board{
    position:absolute;
    display:block;
    height: 416px;
    width: 417px;
    margin: 25vw;
    font-size: 0;
    border: 1px solid black;
 



}
.container {
    display:block;
    height: 400px;
    width: 417px;
    margin:0;
    font-size: 0;
  }
  .row{
    display:block;
    width: 417px;
    height: 50px;
    border: 1px solid black;
    margin:0;
  
  }
  .row div{
    position:relative;
    display: inline-block;
    height: 50px;
    width:50px;
    border: 1px solid black;
  }