body{
    margin:0;
 
}
#board{
    position:absolute;
    display:block;
    height: 417px;
    width: 417px;
    margin: 10vw;
    font-size: 0;
    border: 1px solid black;
 



}
.container {
    display:block;
    height: 400px;
    width: 417px;
    margin:0;
    font-size: 0;
  }
  .row{
    display:block;
    width: 417px;
    height: 50px;
    border: 1px solid black;
    margin:0;
  
  }
  .row div{
    position:relative;
    display: inline-block;
    height: 50px;
    width:50px;
    border: 1px solid black;
    background-color: rgb(176,144,105);
  }
  .row:nth-child(2n+1) div:nth-child(2n)  {
    background-color: black;
  }
  .row:nth-child(2n) div:nth-child(2n+1){
    background-color: black;
  }
  .row div span{
    position:absolute;
    font-size: 1rem;
  }
  .row:first-of-type div span:first-of-type{ 
    left: 21px;
    top:-20px;
  }
  .row :first-of-type div:first-of-type span:nth-child(1){
    top: 20px;
    left: -20px;

  }
 div :hover{
    background-color: red;
 }
 